@model List<Kanban.Models.Task>
    
@{ Layout = "/Views/Shared/Layout.cshtml"; }

    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Points</th>
            <th>Priority</th>
            <th>Status</th>
            <th colspan="2">&nbsp;</th>
        </tr>

        @foreach(var task in Model)
        {
        <tr>
            <td>@task.TaskId</td>
            <td>@task.Title</td>
            <td>@task.Description</td>
            <td>@task.Points</td>
            <td>@task.Priority</td>
            <td>@task.Status.Name</td>
            <td><a href="/task/delete/@task.TaskId">Delete</a></td>
            <td><a href="/task/update/@task.TaskId">Update</a></td>
        </tr>
        }

    </table>

    <a href="/task/create" class="btn btn-primary">Create</a>