@model Tasks
@{ Layout = "/Views/Shared/Layout.cshtml"; }

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/task/index">Task</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update</li>
  </ol>
</nav>

<form action="/task/update/@Model.TaskId" method="POST">
    @Html.AntiForgeryToken()
    Title
    <input type="text" name="Title" title="title" class="form-control" value="@Model.Title" />
    Description
    <input type="text" name="Description" description="description" class="form-control" value="@Model.Description" />
    Points
    <input type="int" name="Points" points="points" class="form-control" value="@Model.Points" />
    Priority
    <input type="int" name="Priority" priority="priority" class="form-control" value="@Model.Priority" />
    <br />
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>
